[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
mysqlclient = "*"
fire = "*"

[dev-packages]
autopep8 = "*"
setuptools = "*"
setuptools-scm = "*"
wheel = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.11"

[scripts]
build = "python -m build"
clean = "rm -rf dist sql2gpt.egg-info"
